<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Email Classifier</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <h1>Classificador de Emails com IA</h1>
    <form method="POST" enctype="multipart/form-data" id="emailForm">
        <div class="file-upload-wrapper">
            <label for="fileInput">Upload de Arquivo:</label>
            <div class="custom-file-input">
                <input type="file" name="file" id="fileInput" accept=".txt, .pdf">
                <label for="fileInput">Escolher arquivo</label>
                <span id="fileName">Nenhum arquivo escolhido</span>
            </div>
        </div>


        <label>Ou cole o email:</label>
        <textarea name="email_text" rows="10" cols="80"></textarea>

        <button type="submit" id="submitBtn"><span>Analisar</span>
        <div class="loader"><svg viewBox="0 0 80 80">
                <circle cx="40" cy="40" r="32"></circle>
            </svg></div>
        
        </button>
    </form>
    <script>
    const form = document.getElementById("emailForm");
    const button = document.getElementById("submitBtn");
    const fileInput = document.getElementById("fileInput");
    const fileNameSpan = document.getElementById("fileName");

    form.addEventListener("submit", () => {
        form.classList.add("loading");
        button.disabled = true;
        button.querySelector("span").textContent = "Analisando...";
    });

    fileInput.addEventListener("change", () => {
        const fileName = fileInput.files.length > 0 ? fileInput.files[0].name : "Nenhum arquivo escolhido";
        fileNameSpan.textContent = fileName;
    });
</script>



    {% if email %}
    <h3>Email Recebido:</h3>
    <p>{{ email }}</p>
    <h3>Categoria:</h3>
    <strong>{{ category }}</strong>
    <h3>Resposta Sugerida:</h3>
    <p>{{ response }}</p>
    {% endif %}
</body>

</html>